<h1>Bonjour,</h1>

<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien suivant: <br><br>
    <a class="btn btn-primary" href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientot sur GENERATE PDF!
</p>
