{% extends 'base.html.twig' %}

{% block title %}Générateur de mot de passe{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button target="_blank" class="mt-3 btn btn-primary" type="submit">Générer</button>
{{ form_end(form) }}
{% endblock %}