{% extends 'base.html.twig' %}
{% block title %}PDF{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>PDF</h1>
                <a href="{{ path('pdf_create') }}">Ajouter un pdf</a>
            </div>
        </div>
    </div>
{% endblock %}