{% extends 'base.html.twig' %}
{% block title %}PDF{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>PDF</h1>
                <a href="{{ path('pdf_create_url') }}">Ajouter un pdf depuis un lien</a> <br>
                <a href="{{ path('pdf_create_file') }}">Ajouter un pdf depuis un fichier html</a> <br>
                <a href="{{ path('pdf_create_html') }}">Ajouter un pdf depuis du html</a> <br>
            </div>
        </div>
    </div>
{% endblock %}